---
title: Douglas Parsons
layout: layouts/home.njk
description: |
    I'm a developer working at Shamaazi on products that help over 100,000 people give to charity. Keep up to date with my thoughts and opinions on my blog!
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Hi, I'm a developer looking to get into blogging currently working at Shamaazi. I'm part of a (currently) two-man engineering team
  responsible for products that help over 100,000 people give to charity! You can keep up to date with my thoughts and
  opinions on my blog! Opinions are all my own.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
