---
title: Douglas Parsons
layout: layouts/home.njk
description: I'm a developer working at Shamaazi on products that help over 100,000 people give to charity. Keep up to date with my thoughts and opinions on my blog!
cover: /img/remote/me-nyx.jpg
date: Last Modified
---

<div id="posts">
  {% for post in collections.posts | reverse %}
  <h2 style="margin-bottom: 0"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
  <aside>
    <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% set wc = post.templateContent | striptags | wordcount %}
    {% set wPerMinute = wc / 240 %}
    -
     {{ wPerMinute | round }} min read.
  </aside>
  <p>{{ post.data.description }}</p>
  {% endfor %}
</div>
